<ion-card>
  <ion-row>
    <ion-col style="
        margin-bottom: 5%;
        margin-left: 5%;
        font-size: 150%;
        padding-top: 5%;
        color: black;
      " size="12"><b>{{ title }}</b></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-text style="font-size: 16px" class="ion-padding" color="primary">
        <ion-icon name="calendar-outline"></ion-icon><span style="color: gray"> {{ item | date:'dd/MM/yyyy' }}</span>
      </ion-text>
    </ion-col>
    <ion-col style="padding-bottom: 5%" size="6">
      <ion-text style="font-size: 16px" class="ion-padding" color="primary">
        <ion-icon name="timer-outline"></ion-icon><span style="color: gray"> {{ item | date:'hh:mm' }}</span>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-card>