<!-- <div class="bg-white">
  <div class="top-bg"></div>
  <ion-grid style="margin-top: -140px">
    <ion-row>
      <ion-col size="9">
        <ion-label class="title">
          <ion-icon
            class="back-btn"
            name="arrow-back-circle"
            (click)="goBack()"
          ></ion-icon>
          {{ title }}
        </ion-label>
      </ion-col>
      <ion-col size="1.5">
        <ion-icon class="side-icon" name="person-circle-outline"></ion-icon>
      </ion-col>

      <ion-col size="1.5">
        <ion-icon class="side-icon" name="notifications-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="searchVisible">
      <ion-searchbar placeholder="Search Products"></ion-searchbar>
    </ion-row>
  </ion-grid>
</div> -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-item lines="none" class="ion-no-margin ion-no-padding" color="none">
      <ion-buttons>
        <ion-button (click)="goBack()" *ngIf="back">
          <ion-icon size="medium" name="arrow-back-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-avatar>
        <img src="assets/logo/applogo.png" style="background-color: white; margin-left: 5px" />
      </ion-avatar>
      <ion-label class="ion-margin title">{{ title }} </ion-label>
      <img (click)="gotoProfile()" style="border-radius: 20px; width: 40px; height: 40px; border: 1px solid gray;"
        [src]="profilePhoto" />
      <!-- <ion-icon
        (click)="gotoProfile()"
        class="side-icon"
        name="person-circle-outline"
      ></ion-icon> -->
      <ion-icon (click)="gotoNotifications()" class="side-icon" name="notifications-outline"></ion-icon>
    </ion-item>
    <!-- <ion-grid>
      <ion-row>
        <ion-col size="1" *ngIf="back">
          <ion-icon (click)="goBack()" class="back-icon" name="arrow-back-circle"></ion-icon>
        </ion-col>
        <ion-col size="1.5">
          <img src="assets/logo/applogo.png"
            style="width:40px; height: 40px;background-color: white;border-radius: 20px;margin-left: 5px;" />
        </ion-col>

        <ion-col [size]="back ? 7 : 8">
          <ion-label class="title f-rso">{{ title }} </ion-label>
        </ion-col>
        <ion-col size="1.1">
          <ion-icon (click)="gotoProfile()" class="side-icon" name="person-circle-outline"></ion-icon>
        </ion-col>

        <ion-col size="1.1">
          <ion-icon (click)="gotoNotifications()" class="side-icon" name="notifications-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="searchVisible">
    <ion-searchbar color="dark" placeholder="Search Products"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="curve-bottom-red" *ngIf="showcurve"></div>