ion-searchbar {
  --border-radius: 20px;
  --background: black;
  --color: white;
  margin-top: 10px;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
  // transform: translateY(-50%);
  // position: absolute;
  // top: 50%;
}

.back-btn {
  font-size: larger;
}

.side-icon {
  font-size: 40px;
  color: white;
}

.back-icon {
  font-size: 28px;
  /* margin-top: 7px; */
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.top-bg {
  background-color: var(--ion-color-primary);
  height: 190px;
  border-radius: 25px;
  margin-top: -50px;
  //   position: absolute;
  //   z-index: 1;
}
.curve-bottom-red {
  position: absolute;
  bottom: -14px;
  z-index: 1;
  height: 25px;
  left: 0;
  right: 0;
  background: var(--ion-color-primary);
  border-radius: 0 0 15px 15px;
}
