<app-header
  [title]="'Race Calendar'"
  [showcurve]="true"
  [back]="true"
></app-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let _item of formula1_races">
        <app-race-item
          class="card"
          (click)="raceEventDetail(_item)"
          [item]="_item"
        >
        </app-race-item>
      </ion-col>

      <ion-col size="6" *ngFor="let _item of nascar_races">
        <nascar-race-item
          class="card"
          (click)="nascarRaceEventDetail(_item)"
          [item]="_item"
        >
        </nascar-race-item>
      </ion-col>
    </ion-row>

    <!-- <div class="scrolling-wrapper">
      </div> -->
    <!-- </ion-row> -->
  </ion-grid>
  <div style="height: 100px"></div>
</ion-content>
