ion-slides {
  --bullet-background-active: white;
}

ion-chip {
  --background: black;
  --color: white;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.side-icon {
  font-size: 40px;
  color: white;
}

.image {
  border-radius: 20px;
  width: "100%";
  margin-top: 15px;
  height: 220px;
}

.details-btn {
  position: absoulute;
  bottom: 8px;
  left: 16px;
}

.slides {
  background-image: url("../../../assets/car.jpg");
  height: 220px;
  border-radius: 20px;
  width: 93%;
  margin-top: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-header {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.list-row {
  // white-space: nowrap;
  // overflow-x: auto !important;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.list-image {
  border-radius: 20px;
  margin-top: 15px;
  height: 150px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  width: 90%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: -10px;
  .card {
    display: inline-block;
    width: 75%;
    margin-left: 10px;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

  .card {
    flex: 0 0 auto;
  }
}

.list-btn {
  width: auto;
}

.small-text {
  font-size: 11px;
}

.content-title {
  font-size: 14px;
  color: black;
}
