<app-header [title]="'Store'" [showcurve]="true" [back]="true"></app-header>

<ion-content class="ion-margin">
  <ion-list *ngFor="let item of list">
    <ion-item class="ion-margin-top">
      <ion-thumbnail>
        <img src="assets/races/race2.png" />
      </ion-thumbnail>
      <ion-label class="ion-margin-start">
        <h2>Store Item</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>