<app-header [title]="'Car Details'"></app-header>

<ion-content style="position: relative" fullscreen="true">
  <div class="top-bg"></div>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="5.5">
        <img [src]="car?.image" class="image" />
      </ion-col>

      <ion-col class="ion-margin-top">
        <ion-chip style="height: 14px">
          <ion-label style="font-size: 7px">RACES</ion-label>
        </ion-chip>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">RACE_ID : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.raceID}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label><b>{{car?.name}}</b></ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Country : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.country}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Status : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.status}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Season : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content"
              >{{car?.season ?? 'N/A'}}</ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Track : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.track}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Start Date : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.startDate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">End Date : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{car?.endDate}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Row Section -->

    <ion-row class="list-header">
      <ion-col>
        <ion-label>
          <h1 class="f-rso">
            <b
              >{{item?.title1}}<ion-text color="primary">
                {{item?.title2}}
              </ion-text></b
            >
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>

    <!-- Cars Data -->

    <ion-row>
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let car of cars">
          <div class="relative">
            <img [src]="car.image" class="list-image" />

            <ion-chip
              style="position: absolute; left: 8px; top: 25px; height: 14px"
            >
              <ion-label style="font-size: 7px">{{item.tag}}</ion-label>
            </ion-chip>
          </div>

          <ion-row>
            <ion-col size="6" *ngIf="car.raceID">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  RACE_ID: <ion-text color="primary">{{car.raceID}} </ion-text>
                </p>
              </ion-label>
            </ion-col>

            <ion-col size="6" *ngIf="car.seriesId">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  SERIES_ID:
                  <ion-text color="primary">{{car.seriesId}} </ion-text>
                </p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: -25px; margin-bottom: -20px">
            <ion-col size="10" class="ion-text-wrap">
              <p class="content-title"><b>{{car.name}}</b></p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" *ngIf="car.country">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  Country:<ion-text color="primary"
                    ><b> {{car.country}}</b>
                  </ion-text>
                </p>
              </ion-label>
            </ion-col>

            <ion-col size="6" *ngIf="car.status">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  Status<ion-text color="primary">
                    <b> {{car.status}}</b>
                  </ion-text>
                </p>
              </ion-label>
            </ion-col>

            <ion-col size="6" *ngIf="car.season">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  Season:<ion-text color="primary"
                    ><b> {{car.season}}</b>
                  </ion-text>
                </p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-button
            class="list-btn"
            shape="round"
            size="small"
            color="primary"
            (click)="viewDetail(item,car)"
          >
            View Details
          </ion-button>
        </div>
      </div>
    </ion-row>

    <!-- <ion-row>
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let item of cars">
          <div class="relative">
            <img src="assets/car.jpg" class="list-image" />

            <ion-chip
              style="position: absolute; left: 8px; top: 25px; height: 14px"
            >
              <ion-label style="font-size: 7px">RACES</ion-label>
            </ion-chip>
          </div>

          <ion-label class="ion-text-wrap">
            <p class="small-text">
              RACE_ID<ion-text color="primary"> 300 </ion-text>
            </p>
            <h2><b>Vietnam Grand Prix</b></h2>
          </ion-label>
          <ion-row>
            <ion-col size="6">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  Country<ion-text color="primary"><b> Vietnam</b> </ion-text>
                </p>
              </ion-label>
            </ion-col>

            <ion-col size="6">
              <ion-label class="ion-text-wrap">
                <p class="small-text">
                  Status<ion-text color="primary">
                    <b> Postponded</b>
                  </ion-text>
                </p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-button
            class="list-btn"
            shape="round"
            size="small"
            color="primary"
            (click)="viewDetail()"
          >
            View Details
          </ion-button>
        </div>
      </div>
    </ion-row> -->

    <!-- Drivers Data -->

    <ion-row class="list-header">
      <ion-col>
        <ion-label>
          <h1 class="f-rso">
            <b>Drivers</b>
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="scrolling-wrapper">
        <div class="driver" *ngFor="let driver of drivers;">
          <img [src]="driver.image" class="driver-image" />

          <ion-label class="ion-text-wrap content">
            <p class="content">
              DRIVER_ID<ion-text color="primary"> {{driver.id}} </ion-text>
            </p>
            <h2><b>{{driver.name}}</b></h2>
          </ion-label>

          <ion-label class="ion-text-wrap">
            <p class="content">
              TEAM_ID<ion-text color="primary"> {{driver.teamId}} </ion-text>
            </p>
          </ion-label>

          <ion-button
            class="list-btn"
            shape="round"
            size="small"
            color="primary"
            (click)="driverDetails(driver)"
          >
            View Details
          </ion-button>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
