<app-header [title]="'Notifications'"></app-header>

<ion-content>
  <ion-card style="height: 80px; padding-top: 10px" *ngFor="let item of list">
    <ion-list class="box-list">
      <ion-item lines="none">
        <img class="image" src="../../../assets/BMW.jpg" />
        <!-- <ion-checkbox class="custom-checkbox"></ion-checkbox> -->
        <ion-label class="ion-text-wrap">
          <p style="color: black" class="f-pop-m">{{item.content}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
