<app-header [title]="'Race News'" [showcurve]="true" [back]="true"></app-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <h1 class="f-rso" style="font-size: 35px; padding-left: 8px">
          <b>{{name}}</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let item of news">
        <ion-card (click)="gotoNewsDetail(item)">
          <ion-card-header class="ion-no-padding">
            <img
              *ngIf="item.image"
              style="margin-bottom: 10px; width: 100%"
              [src]="item.image"
              onerror="this.onerror=null;this.src='assets/races/race1.png'"
            />
            <ion-card-title
              class="ion-margin"
              style="margin-bottom: 10px; font-size: 25px"
              >{{item.title}}
            </ion-card-title>
            <ion-card-subtitle
              class="ion-text-end ion-margin-end"
              style="margin-bottom: 20px; font-size: 15px"
            >
              {{utility?.calculateTime(item.created_at)}}</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content class="ion-text-wrap">
            <ion-label
              style="
                max-height: 5.4em;
                line-height: 1.8em;
                height: 75%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                white-space: normal;
              "
            >
              {{item.content}}
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row> -->
    <!-- <ion-col size="6" *ngFor="let _item of formula1_races">
        <app-race-item
          class="card"
          (click)="raceEventDetail(_item)"
          [item]="_item"
        >
        </app-race-item>
      </ion-col> -->

    <!-- <ion-col size="6" *ngFor="let _item of nascar_races">
        <nascar-race-item
          class="card"
          (click)="nascarRaceEventDetail(_item)"
          [item]="_item"
        >
        </nascar-race-item>
      </ion-col> -->

    <!-- <div class="scrolling-wrapper">
      </div> -->
    <!-- </ion-row> -->
  </ion-grid>
</ion-content>
