.header-jumbotron {
  background: var(--ion-color-light);
}

.header-jumbotron {
  padding-top: 25px;
}
.header-jumbotron img {
  margin: 20px 20px;
  border-radius: 50%;
}
.header-jumbotron ion-item {
  position: absolute;
  top: calc(50% - 8px);
  left: 20px;
  transform: translateY(-50%);
}
.menu-list {
  margin-top: 40px;
  ion-item {
    margin-top: 10px;
    h2 {
      font-weight: bold;
    }
  }
}
