<app-header [title]="'User Profile'"></app-header>
<ion-content>
  <!-- <div class="top-bg"></div> -->
  <ion-grid style="margin-top: -5%" class="header-jumbotron">
    <ion-row class="ion-margin">
      <ion-col size="3" class="">
        <img style="border: 1px solid #e1e1e1; width: 80px;height: 80px;border-radius: 40px;" [src]="profilePhoto" />
      </ion-col>
      <ion-col size="9">
        <ion-item color="light" lines="none">
          <ion-label>
            <h1 class="f-rso">{{user?.name}}</h1>
            <p class="f-pop-r" (click)="openLink({})">View Profile</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list style="margin-top: -10%" class="ion-padding-start menu-list">
    <ion-item *ngFor="let item of menu" lines="none" (click)="openLink(item)">
      <ion-img [src]="item.icon" class="ion-margin-end"></ion-img>
      <ion-label>
        <h2 class="f-pop-m">{{item.label}}</h2>
      </ion-label>
    </ion-item>
    <ion-item class="menu-list" lines="none" (click)="logout()">
      <!-- <ion-img rc]="item.icon" class="ion-margin-end"></ion-img> -->
      <ion-icon style="margin-right: 12px" slot="start" color="primary" name="exit"></ion-icon>
      <ion-label color="primary">
        <h2 class="f-pop-m">Log out</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>