<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="nav.pop()">
        <ion-icon color="medium" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="signup">
  <form [formGroup]="aForm">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>
          <h1 class="f-rso heading">CREATE ACCOUNT</h1>
          <p class="f-pop-r subheading">
            <ion-text color="medium"
              >Add Your Details To Create Account</ion-text
            >
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-input
            type="text"
            placeholder="Full Name"
            class="input"
            formControlName="name"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-input
            type="email"
            placeholder="Email Address"
            class="input"
            formControlName="email"
          ></ion-input>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="12">
          <ion-input
            type="text"
            placeholder="Phone Number"
            class="input"
            formControlName="phone"
          ></ion-input>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="12">
          <ion-input
            type="password"
            placeholder="Password"
            class="input"
            formControlName="password"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            class="f-rso"
            shape="round"
            expand="block"
            color="primary"
            (click)="singUp()"
            [disabled]="loading"
          >
            SIGN UP
          </ion-button>
        </ion-col>
      </ion-row>

      <div class="ion-margin-vertical">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button (click)="openLogin()" fill="clear">
              <ion-text
                class="f-pop-li"
                color="medium"
                style="margin-right: 5px"
              >
                Already Have an Account?
              </ion-text>
              <ion-text class="f-pop-m" color="primary"> Login </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
