.heading {
  font-size: 28px;
  margin-bottom: 0;
}

.subheading {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.input {
  --padding-start: 20px;
  font-size: 13px;
  height: 50px;
}

// .btn {
//   height: 60px;
//   font-weight: 900;
//   font-size: 1.2rem;
// }
