<app-header [title]="'Selection'"></app-header>

<ion-content>
  <ion-card>
    <img src="assets/logo/F1.png" />
  </ion-card>
  <ion-card>
    <img src="assets/logo/Nascar1.png" />
  </ion-card>
</ion-content>
