<app-header
  [title]="'News Details'"
  [showcurve]="true"
  [back]="true"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img
          *ngIf="news?.image"
          class="img1"
          [src]="news?.image"
          onerror="this.onerror=null;this.src='assets/races/race1.png'"
        />
      </ion-col>
      <ion-col size="12">
        <h1 class="mainheading">{{news?.title}}</h1>
        <br />
        <h3 class="date ion-text-end">
          {{utility?.calculateTime(news.created_at)}}
        </h3>
        <br /><br />
        <p class="para">{{news?.content}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
