.img1 {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.mainheading {
    margin-top: -40;
    font-size: 30px;
    font-weight: bold;
}

.date {
    margin-top: -25px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.para {
    margin-top: -10px;
    font-size: 18px;
    text-align: justify;
}