.btn {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
}

.arrows {
    margin-bottom: 25px;
}
.selectbtn {
    width: 100%;
}
