<app-header [title]="'Seasons'" [showcurve]="true" [back]="true"></app-header>
<ion-content>
  <ion-card style="margin-top: 20px" *ngIf="seasons?.length">
    <h4
      style="
        margin-bottom: 30px;
        font-size: 25px;
        color: gray;
        font-weight: bold;
        text-align: center;
      "
    >
      <b>Please Select Year</b>
    </h4>
    <ion-row class="arrows ion-margin-top ion-padding-start">
      <ion-col size="1" (click)="changeYear(true)">
        <div class="btn">
          <ion-icon
            name="arrow-back-outline"
            style="color: var(--ion-color-primary)"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col class="ion-text-center" size="7.5">
        <h2
          style="
            text-align: center !important;
            font-size: 25px;
            font-weight: bold;
            margin-top: 15px;
            margin-left: 60px;
          "
        >
          {{ seasons?.length ? seasons[index].year : 0}}
        </h2>
      </ion-col>
      <ion-col size="1" class="ion-no-margin ion-no-padding">
        <div class="btn" (click)="changeYear(false)">
          <ion-icon
            name="arrow-forward-outline"
            style="color: var(--ion-color-primary)"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom" (click)="seasonSelected()">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="selectbtn">Select</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row style="margin-top: 5%" class="ion-no-margin ion-no-padding">
      <ion-col size="6" *ngFor="let item of seasons" class="ion-no-margin ion-no-padding"
        (click)="seasonSelected(item.season)">
        <ion-card class="ion-no-margin ion-no-padding ion-margin-start ion-margin-end ion-margin-top">
          <ion-card-content class="ion-text-center"><b>{{item.season}}</b></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
