<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button (click)="nav.pop()">
        <ion-icon color="medium" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="login">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <h1 class="f-rso heading">LOGIN ACCOUNT</h1>
        <p class="f-pop-r subheading">
          <ion-text color="medium">Add your details to signin</ion-text>
        </p>
      </ion-col>
    </ion-row>

    <form [formGroup]="aForm">
      <ion-row>
        <ion-col size="12">
          <ion-input formControlName="email" class="input f-pop-li" placeholder="Email Address"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-input formControlName="password" type="password" class="input f-pop-li" placeholder="Password">
          </ion-input>
        </ion-col>
      </ion-row>
    </form>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button class="f-rso" shape="round" expand="block" color="primary" (click)="login()">
          LOGIN NOW
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="ion-text-center">
        <ion-text class="f-pop-r" color="medium"> Forgot Password? </ion-text>
        <ion-text color="primary" class="f-pop-m"> Click here </ion-text>
      </ion-col>
    </ion-row> -->

    <div style="height: 30px"></div>

    <ion-row class="social-div ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-text color="primary">OR</ion-text>
        <br />
        <ion-text class="f-pop-m">Continue With Social Media</ion-text>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="social-btn" style="--background: #395895" shape="round">
          <ion-icon name="logo-facebook"></ion-icon>
          <span class="ion-margin-horizontal"> | </span>
          Login With Facebook
        </ion-button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="loginWithGoogle()" expand="block" class="social-btn" color="secondary" shape="round">
          <ion-icon name="logo-google"></ion-icon>
          <span class="ion-margin-horizontal"> | </span>
          Login With Google
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="ion-margin-vertical">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="openSignup()" fill="clear">
            <ion-text class="f-pop-li" color="medium" style="margin-right: 5px">
              Don't Have an Account?
            </ion-text>
            <ion-text class="f-pop-m" color="primary"> Sign Up </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>