.heading {
  font-size: 28px;
  margin-bottom: 0;
}

.subheading {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.input {
  --padding-start: 20px;
  font-size: 13px;
  height: 50px;
}

// .sub-heading {
//   font-size: 1rem;
//   font-weight: 400;
//   margin-bottom: 10px;
// }

// .btn {
//   height: 50px;
//   font-weight: 900;
//   font-size: 1.2rem;
// }

// .social-div {
//   text-align: center;
//   margin-top: 40px;
// }

// .social-btn {
//   height: 48px;
// }

// .back-btn {
//   font-size: larger;
// }
