.promo-outer {
  // padding: 50px;
  // height: 400px;
  // --background: transparent;
}

ion-card {
  width: 85%;
  height: 200px;
  margin: 14vh auto;
  background: url("../../../assets/icon/F1cars.webp") no-repeat;
  background-size: cover;
}
.input {
    padding: 5px;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 5px;
    width: 70%;
    color: black;
    background: white;
}

.btn {
  width: 25%;
  border-radius: 5px;
  margin-left: 5px;
  background-color: red;
  font-size: 10px;
}
// .close-promo {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   font-size: 25px;
// }
