<ion-card class="ion-no-margin ion-no-padding promo-outer">
  <ion-card-content
    style="background-color: rgb(255, 255, 255, 0.3)"
    class="ion-no-margin ion-no-padding"
  >
    <ion-item lines="none" color="none">
      <ion-label slot="end">
        <ion-icon
          color="light"
          style="font-size: 20px"
          (click)="close()"
          class="close-promo"
          name="close-circle"
        >
        </ion-icon>
      </ion-label>
    </ion-item>
    <div style="margin-top: 50px; display: flex; flex-direction: row">
      <input class="input" type="text" placeholder="Enter Address" />
      <button style="color: white" class="btn" (click)="close()">
        SIGN UP NOW
      </button>
    </div>
    <div>
      <p
        style="color: black; font-size: 12px; margin: 2%; padding-bottom: 45px"
      >
        SEE HOW WE USE YOUR DATA, VIEW OUR
        <span style="color: red">PRIVACY POLICY</span>
      </p>
    </div>
    <!-- <ion-item
      lines="none"
      color="none"
      class="ion-no-margin ion-no-padding input-container"
    >
      <ion-input
        placeholder="Enter Address"
        type="text"
        style="
          margin-left: 5px;
          background-color: #fff;
          --background: white;
          color: #000;
          --color: black;
        "
      >
      </ion-input>
      <ion-button style="font-size: 10px" (click)="close()"
        >SIGN UP NOW</ion-button
      >
      <ion-label>
      </ion-label>
    </ion-item> -->
    <!-- <ion-item
      lines="none"
      color="none"
      class="last-line ion-no-margin ion-no-padding"
    >
      <p style="font-size: 10px; margin: 4%">
        SEE HOW WE USE YOUR DATA, VIEW OUR
        <span style="color: red">PRIVACY POLICY</span>
      </p>
    </ion-item> -->
  </ion-card-content>
  <!-- <img src="assets/promo.png" /> -->
</ion-card>
