<ion-card style="margin-right: 20px" class="ion-no-margin">
  <ion-grid class="news-item ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <img [src]="item.image" class="list-image" />
      </ion-col>
      <ion-col size="12">
        <ion-item style="padding: 0px" lines="none">
          <ion-label class="ion-text-center">
            <h2 class="f-pop-smb">
              {{ item.name }}
            </h2>
            <p class="content">
              <ion-text color="primary">{{ item?.track }}</ion-text
              ><br />
              |
              {{ item.season }}
              | <br />
              <ion-text style="color: black">
                {{ item?.series_name }}
              </ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          style="margin-bottom: 10px"
          class="list-btn ion-no-margin"
          shape="round"
          size="small"
          color="primary"
        >
          View Details
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
