<app-header [title]="'Go Full Throttle'" [showcurve]="false" [back]="false"></app-header>
<ion-content style="position: relative; margin-bottom: 70px" fullscreen="true">
  <div class="top-bg"></div>
  <ion-slides pager="true" class="slides">
    <ion-slide *ngFor="let item of slides">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <img [src]="item.image" class="center" />
            <ion-label>
              <p style="color: white">{{item.subheading}}</p>
              <h1 class="title">{{item.heading}}</h1>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button (click)="raceEventDetail(item.id)" class="details-btn center ion-text-wrap" shape="round"
              expand="block" color="primary">
              View Details
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <!-- <ion-col size="6">
        <h1 class="f-rso" style="padding-left: 8px">
          <b>Racing<ion-text color="primary"> News </ion-text></b>
        </h1>
      </ion-col> -->
      <ion-col size="12">
        <h1 class="f-rso" style="padding-left: 8px">
          <b>Formula 1 Upcoming Races</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let singlenews of recentSchedules">
          <app-home-news [item]="singlenews" (click)="raceEvent(singlenews)"></app-home-news>
        </div>
      </div>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="f-rso" style="padding-left: 8px">
          <b>NASCAR Upcoming Races</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let item of nascarRecentSchedule">
          <app-home-race [item]="item" (click)="nascarRaceEventDetail(item)">
          </app-home-race>
        </div>
      </div>
    </ion-row>
  </ion-grid>
  <div style="height: 100px"></div>
</ion-content>
<!-- <ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin tab-item">
          <ion-img src="assets/races.png"></ion-img>
          <ion-text>Races</ion-text>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin tab-item">
          <ion-img src="assets/world.png"></ion-img>
          <ion-text>News</ion-text>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin tab-item">
          <ion-img src="assets/timetable.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin tab-item">
          <ion-img src="assets/videos.png"></ion-img>
          <ion-text>Videos</ion-text>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin tab-item">
          <ion-img src="assets/house.png"></ion-img>
          <ion-text>Store</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->