<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1" (click)="nav.pop()">
          <ion-icon
            style="font-size: 30px"
            color="light"
            name="arrow-back-circle"
          ></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-label style="margin-left: 10px" class="title f-rso">
            Driver Details
          </ion-label>
        </ion-col>
        <ion-col size="1.5">
          <ion-icon class="side-icon" name="person-circle-outline"></ion-icon>
        </ion-col>

        <ion-col size="1.5">
          <ion-icon class="side-icon" name="notifications-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->

<app-header [title]="'Driver Details'"></app-header>

<ion-content style="position: relative" fullscreen="true">
  <div class="top-bg"></div>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-margin-top">
      <!-- <ion-col size="5.5">
        <img [src]="driver?.image" class="image" />
      </ion-col> -->

      <ion-col size="5">
        <img class="driverimg" [src]="driver?.photo_url" />
      </ion-col>

      <ion-col size="7" class="ion-margin-top">
        <ion-chip style="width: 55px; height: 20px">
          <ion-label style="font-size: 10px">DRIVER</ion-label>
        </ion-chip>

        <ion-row>
          <ion-col size="12">
            <ion-label class="drivername"><b>{{ driver?.name }}</b></ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Driver Id : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.driver_id}}</ion-label>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">TEAM_ID : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.team_id}}</ion-label>
          </ion-col>
        </ion-row> -->

        <!-- <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Team Name : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.team_name}}</ion-label>
          </ion-col>
        </ion-row> -->

        <ion-row *ngIf="!isPopular">
          <ion-col size="6">
            <ion-label class="left-content">Race Id : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{ driver?.race_id }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Number : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.number}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isPopular">
          <ion-col size="6">
            <ion-label class="left-content">Laps : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.laps}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isPopular">
          <ion-col size="6">
            <ion-label class="left-content">Season : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{race?.season}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isPopular">
    <ion-row class="list-header">
      <ion-col>
        <ion-label>
          <h1 class="f-rso">
            <b>Driver<ion-text color="primary"> Standing </ion-text></b>
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <!-- <ion-col size="5.5">
        <img [src]="driver?.image" class="image" />
      </ion-col> -->

      <ion-col size="5">
        <img class="driverimg" [src]="driver?.photo_url" />
      </ion-col>

      <ion-col size="7">
        <ion-chip style="width: 55px; height: 20px">
          <ion-label style="font-size: 10px">DRIVER</ion-label>
        </ion-chip>

        <ion-row>
          <ion-col size="12">
            <ion-label class="drivername"
              ><b>{{driver?.given_name}} {{driver?.family_name}}</b></ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Position: </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content"
              >{{driver?.final_position}}</ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Points: </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.points}}</ion-label>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Team_ID: </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.team_id}}</ion-label>
          </ion-col>
        </ion-row> -->

        <!-- <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">TEAM_ID : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.team_id}}</ion-label>
          </ion-col>
        </ion-row> -->

        <!-- <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Team Name : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.team_name}}</ion-label>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Race Id : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.race_id}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Laps : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{driver?.laps}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label class="left-content">Season : </ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="right-content">{{race?.season}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Row Section -->

    <!-- <ion-row class="list-header">
      <ion-col>
        <ion-label>
          <h1 class="f-rso">
            <b>Drivers</b>
          </h1>
        </ion-label>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <div class="scrolling-wrapper">
        <div
          class="driver"
          *ngFor="let driver of drivers"
          (click)="showDriverDetail(driver)"
        >
          <img [src]="driver?.image" class="driver-image" />

          <ion-label class="ion-text-wrap content">
            <p class="content">
              DRIVER_ID<ion-text color="primary">
                {{driver?.driverId}}
              </ion-text>
            </p>
            <h2><b>{{driver?.name}}</b></h2>
          </ion-label>

          <ion-label class="ion-text-wrap">
            <p class="content">
              TEAM_ID<ion-text color="primary"> {{driver?.teamId}} </ion-text>
            </p>
          </ion-label>

          <ion-button
            class="list-btn"
            shape="round"
            size="small"
            color="primary"
          >
            View Details
          </ion-button>
        </div>
      </div>
    </ion-row> -->
  </ion-grid>
</ion-content>
