<app-header [title]="'Categories'"></app-header>

<ion-content>
  <ion-grid>
    <h1 class="category">Choose Your Category</h1>
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" *ngFor="let item of list" class="ion-no-margin ion-no-padding"
        (click)="typeSelected(item.type)">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <img [src]="item.image" style="
                height: 200px;
                width: 200px;
                margin-left: auto;
                margin-right: auto;
              " />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>