<app-header
  [title]="'Race Details'"
  [showcurve]="true"
  [back]="true"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <!-- <ion-col size="5">
        <div class="hero-image" [style.background]="'url(' +item?.image+ ') no-repeat center center / cover'"></div>

      </ion-col> -->

      <ion-col size="5">
        <img
          style="border-radius: 10px; width: 100%; height: 100%"
          [src]="item?.image"
        />
      </ion-col>
      <ion-col style="margin-left: -5px" size="7">
        <div>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding">
                <ion-badge color="dark" class="f-rso">RACES</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <h2 class="ion-no-margin f-pop-smb">{{item?.race_name}}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Race Id</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary">{{item?.round}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Country</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary"
                >{{item?.circuit?.location?.country}}</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Status</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary">{{item?.status}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid> -->
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Season</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary">{{item?.season}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Track</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary"
                >{{item?.circuit?.circuitName}}</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">Date</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary">{{item?.date}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="f-pop-smb">End</ion-col>
            <ion-col class="f-pop-smb">
              <ion-text color="primary">{{item?.end_date}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Row Section -->

  <!-- Practice Section Start -->

  <practice-schedule-card
    *ngIf="item.first_practice"
    [item]="item.first_practice"
    [title]="'First Practice'"
  >
  </practice-schedule-card>

  <practice-schedule-card
    *ngIf="item.second_practice"
    [item]="item.second_practice"
    [title]="'Second Practice'"
  >
  </practice-schedule-card>

  <practice-schedule-card
    *ngIf="item.third_practice"
    [item]="item.third_practice"
    [title]="'Third Practice'"
  >
  </practice-schedule-card>

  <practice-schedule-card
    *ngIf="item.qualifying"
    [item]="item.qualifying"
    [title]="'Qualifying'"
  >
  </practice-schedule-card>

  <!-- Practice Section End -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="f-rso" style="padding-left: 8px">
          <b>{{item?.parent?.name}}</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="item && item.parent">
      <div class="scrolling-wrapper">
        <div
          class="card"
          *ngFor="let _item of dataService.getRaceEvents(item.parent.id)"
          (click)="raceEventDetail(_item.id)"
        >
          <app-race-item [item]="_item"></app-race-item>
        </div>
      </div>
    </ion-row>
  </ion-grid> -->

  <!-- Drivers -->

  <ion-grid *ngIf="item.Results?.length || drivers?.length">
    <ion-row>
      <ion-col size="12">
        <h1 class="f-rso" style="padding-left: 8px">
          <b>{{drivers?.length ? 'Popular Drivers' : 'Drivers'}}</b>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="scrolling-wrapper">
        <app-driver-item
          class="driver-card"
          *ngFor="let _item of item.Results?.length > 0 ? item.Results : drivers"
          (click)="driverDetail(_item)"
          [item]="_item"
        >
        </app-driver-item>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
