.hero-image {
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: -10px;

    .card {
        display: inline-block;
        width: 75%;
        margin-left: 10px;
    }

    .driver-card {
        display: inline-block;
        width: 38%;
        margin-left: 10px;
    }
}