<ion-tabs>
  <ion-tab-bar slot="bottom" selected-tab="races">
    <ion-tab-button tab="seasons">
      <img
        src="../../../assets/icon/timetable.png"
        style="
          background-color: rgb(255, 255, 255);
          width: 40%;
          margin: 19% 18% 0px 0px;
        "
      />
      <!-- <ion-icon src="assets/racewheel.svg"></ion-icon>
      <ion-label class="f-pop-m">RACES</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="racing-news">
      <img
        src="../../../assets/icon/Group 129.png"
        style="
          background-color: rgb(255, 255, 255);
          width: 40%;
          margin: 17% 35% 0px 0px;
          display: block;
        "
      />
      <!-- <ion-icon src="assets/news.svg"></ion-icon> -->
      <!-- <ion-label class="f-pop-m" style="background-color: rgb(255, 255, 255);
      width: 40%;
      margin: 17% 0% 0px 0px;
      display: block;">NEWS</ion-label> -->
    </ion-tab-button>
    <!-- <ion-tab-button tab="home" style="position: relative"> -->
    <!-- <ion-icon class="center-icon" src="assets/logo/applogo.png"></ion-icon> -->
    <!-- </ion-tab-button> -->
    <!-- <img (click)="goToHome()" src="assets/logo/applogo.png" style="
      background: white;
      border-radius: 50%;
      margin: 0% 0 10% 0;
      width: 14%;
      position: absolute;
      bottom:2%;
      height: 50px;" /> -->

    <ion-avatar style="height: 80%">
      <img
        (click)="goToHome()"
        src="assets/logo/applogo.png"
        style="background-color: white"
      />
    </ion-avatar>
    <!-- <img

      src="assets/logo/applogo.png"
      style="
        width: 52px;
        height: 52px;
        background-color: white;
        border-radius: 26px;
        margin-top: -10px;
        margin-bottom: 15px;
        margin-top: -35px;
      "
    /> -->
    <ion-tab-button tab="videos">
      <img
        src="../../../assets/icon/Group 127.png"
        style="
          background-color: rgb(255, 255, 255);
          width: 40%;
          margin: 17% 0% 0px 37%;
          display: block;
        "
      />
      <!-- <ion-icon src="assets/videos.svg"></ion-icon>
      <ion-label class="f-pop-m">VIDEOS</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="store">
      <img
        src="../../../assets/icon/Group 169.png"
        style="
          background-color: rgb(255, 255, 255);
          width: 40%;
          margin: 13% 0% 0px 6%;
          display: block;
        "
      />
      <!-- <ion-icon src="assets/store.svg"></ion-icon>
      <ion-label class="f-pop-m">STORE</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-img src="assets/tabbar-whole.svg"></ion-img> -->
