ion-tab-bar {
  background-color: white;
  //height: 27vw;
  // --background: url(/assets/tabbar-whole.svg) no-repeat bottom fixed;
  // background-color: transparent;
  // background-size: cover;
  // --border: 0;
  // margin: 0px 0px -27px 0;
  // --background: url(/assets/tabbar-whole.svg) no-repeat bottom fixed;
  // background-color: red;
  // border: 1px solid red;

  --background: url(/assets/tab-curve-1.png) no-repeat bottom fixed;
}
.center-icon {
  background: red;
  padding: 10px;
  border: 1px solid red;
  border-radius: 50px;
}
.races {
  background: url(/assets/icon/timetable.png);
}
