<ion-grid class="ion-no-padding news-item">
  <ion-row>
    <!-- <ion-col size="12">
      <ion-card class="ion-no-margin">
        <img [src]="item.image" class="list-image" />
      </ion-card>
    </ion-col> -->
    <ion-col size="12">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label class="ion-text-wrap">
          <h2 class="f-pop-smb" style="height: 40px">
            {{ item?.driver?.given_name ?? item?.given_name }} {{ item.driver?.family_name ?? item?.family_name }}
          </h2>
          <p class="content f-pop-m" style="width: 150px">
            Code:
            <ion-text color="primary" class="f-pop-smb">{{
              item.driver?.code
              }}</ion-text>
            &nbsp; <ion-text *ngIf="item.laps"> Laps:</ion-text>
            <ion-text *ngIf="item.laps" color="primary" class="f-pop-smb">{{
              item.laps
              }}</ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-button class="list-btn ion-no-margin" shape="round" size="small" color="primary">
        View Details
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>