<app-header [title]="'Edit Profile'"></app-header>
<ion-content>
  <!-- <div class="top-bg"></div> -->
  <ion-grid class="header-jumbotron">
    <div class="div1">
      <img
        class="img1"
        style="
          border: 1px solid #e1e1e1;
          width: 100px;
          height: 100px;
          border-radius: 50px;
        "
        [src]="profilePhoto"
      />
    </div>
    <div style="text-align: center">
      <button
        (click)="changeProfile()"
        style="
          color: white;
          border-radius: 5px;
          background-color: #f0182e;
          padding: 10px;
        "
      >
        Change Photo
      </button>
    </div>
    <ion-row class="ion-margin">
      <!-- <ion-col size="3" class="">
        <img [src]="user?.image" />
      </ion-col> -->
      <ion-col size="9">
        <ion-item color="light" lines="none">
          <ion-label>
            <h1 class="f-rso">{{user?.fname}}</h1>
            <!-- <p class="f-pop-r">View Profile</p> -->
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-list class="box-list">
      <ion-list-header>
        <ion-label class="f-pop-smb list-header-heading"
          >Personal Information</ion-label
        >
        <ion-button>
          <ion-img src="assets/Images/pencil-edit.png"> </ion-img>
        </ion-button>
      </ion-list-header>

      <ion-item lines="none" *ngIf="user != undefined">
        <ion-img slot="start" src="assets/Images/user-r.png"></ion-img>
        <ion-label class="ion-text-wrap">
          <ion-input
            [(ngModel)]="user.name"
            placeholder="Enter Name"
          ></ion-input>
          <!-- <p class="f-pop-m ">{{user?.fname}}</p> -->
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-img slot="start" src="assets/Images/email.png"></ion-img>
        <ion-label class="ion-text-wrap">
          <p class="f-pop-m">{{user?.email}}</p>
        </ion-label>
      </ion-item>

      <!-- <ion-item lines="none" *ngIf="user != undefined">
        <ion-icon style="font-size: 2.7vh; margin-right: 15px" name="call-outline" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <ion-input [(ngModel)]="user.phone" placeholder="Enter Phone Number"></ion-input>
        </ion-label>
      </ion-item> -->
      <!-- <ion-item lines="none">
        <ion-img slot="start" src="assets/Images/femenine.png"></ion-img>
        <ion-select [(ngModel)]="user.gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item> -->
      <!-- <ion-item lines="none">
        <ion-img slot="start" src="assets/Images/calendar.png"></ion-img>
        <ion-label class="ion-text-wrap">
          <ion-datetime min="1994-03-14" max="2012-12-09" value="2008-09-02"></ion-datetime>
        </ion-label>
      </ion-item> -->
      <!-- <ion-item lines="none">
        <ion-img slot="start" src="assets/Images/pin.png"></ion-img>
        <ion-input [(ngModel)]="user.location" placeholder="Enter Address"></ion-input>
      </ion-item> -->

      <ion-button expand="block" (click)="onSave()">Update</ion-button>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list class="box-list">
      <ion-list-header>
        <ion-label class="f-pop-smb list-header-heading"
          >Select Racing Series of Interest</ion-label
        >
        <ion-button>
          <ion-img src="assets/Images/pencil-edit.png"> </ion-img>
        </ion-button>
      </ion-list-header>
      <ion-item
        *ngFor="let item of races"
        lines="none"
        (click)="item.checked = !item.checked"
      >
        <!-- <ion-checkbox class="custom-checkbox"></ion-checkbox> -->
        <ion-img
          slot="start"
          [src]="item.checked ? 'assets/Images/checkbox.png' : 'assets/Images/checkbox-round.png' "
        >
        </ion-img>
        <ion-label class="ion-text-wrap">
          <p class="f-pop-m">{{item.name}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
