<app-header [title]="'Racing News'" [showcurve]="true" [back]="true"></app-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of news" class="ion-no-margin-ion-no-padding">
        <ion-card (click)="raceEventDetail(item.id)">
          <ion-img [src]="item.image"></ion-img>
          <ion-card-title class="ion-text-center ion-margin-vertical">{{item.name}}</ion-card-title>
        </ion-card>
      </ion-col>
      <!-- <div>
        <div class="card ion-margin-bottom">
          <app-home-news [news]="singlenews"></app-home-news>
        </div>
      </div> -->
    </ion-row>
  </ion-grid>
  <div style="height: 100px;"></div>
</ion-content>