ion-card {
    img {
        height: 150px;
        object-fit: cover;
    }
}

.content {
    font-size: 10px;
    color: black;
}

.news-item {
    img {
        border: 1px solid #707070;
        border-radius: 15px;
    }
}