<app-header [title]="'Videos'" [showcurve]="true" [back]="true"></app-header>

<ion-content>
  <ion-card class="ion-margin">
    <ion-card-content> Content will be available soon </ion-card-content>
  </ion-card>
</ion-content>
