ion-chip {
  --background: black;
  --color: white;
}

.top-bg {
  background-color: var(--ion-color-primary);
  height: 300px;
  border-radius: 17px;
  margin-top: -62px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 16vh;
}

.image {
  height: 280px;
  border-radius: 10px;
}

.left-content {
  font-size: 12px;
}

.right-content {
  font-size: 12px;
  color: var(--ion-color-primary);
  font-weight: bold;
}

ion-searchbar {
  --border-radius: 20px;
  --background: black;
  --color: white;
  margin-top: 10px;
}

ion-slides {
  --bullet-background-active: white;
}

ion-chip {
  --background: black;
  --color: white;
}

.back-btn {
  font-size: larger;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.side-icon {
  font-size: 40px;
  color: white;
}

.details-btn {
  position: absoulute;
  bottom: 8px;
  left: 16px;
}

.slides {
  background-image: url("../../../assets/car.jpg");
  height: 220px;
  border-radius: 20px;
  width: 93%;
  margin-top: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-header {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.list-row {
  // white-space: nowrap;
  // overflow-x: auto !important;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.list-image {
  border-radius: 20px;
  margin-top: 15px;
  height: 150px;
}

.driver-image {
  border-radius: 10px;
  margin-top: 15px;
  height: 160px;
  width: 90%;
}

.content {
  font-size: 10px;
  color: black;
  margin-top: 5px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: -10px;
  .card {
    display: inline-block;
    width: 70%;
    margin-left: 10px;
  }

  .driver {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

  .card {
    flex: 0 0 auto;
  }
}

.list-btn {
  width: auto;
}
